<ng-template [ngIf]="mode === 'button'">
  <div class="weui-pagination__item weui-pagination__prev">
    <a weui-button (click)="_goto(-1)" [weui-mini]="mini" weui-type="default" [disabled]="_prevDisabled" [innerHTML]="prevText"></a>
  </div>
  <div class="weui-pagination__item weui-pagination__num" *ngIf="!simple">{{ current }}/{{ total }}</div>
  <div class="weui-pagination__item weui-pagination__next">
    <a weui-button (click)="_goto(1)" [weui-mini]="mini" weui-type="default" [disabled]="_nextDisabled" [innerHTML]="nextText"></a>
  </div>
</ng-template>
<div class="weui-pagination__item weui-pagination__num" *ngIf="mode === 'pointer'">
  <div *ngFor="let i of _ptArr" class="weui-pagination__dot" [class.weui-pagination__dot-active]="current === i">
    <span></span>
  </div>
</div>
