weui-sidebar-container {
    box-sizing: border-box;
    display: block;
    height: 100%;
    position: relative;
    transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);
}

.weui-sidebar__content {
    display: block;
    height: 100%;
    overflow: auto;
    transition: margin 0.3s cubic-bezier(0, 0, 0.3, 1);
}
