.weui-toptips_default {
    background-color: $toptips-bg-default;
}

.weui-toptips_info {
    background-color: $toptips-bg-info;
}

.weui-toptips_primary {
    background-color: $toptips-bg-primary;
}
