.rating {
    >i {
        display: inline-block;
        &:before {
            font-style: normal;
        }
    }
    .off {
        &:before {
            content: '☆';
        }
    }
    .on {
        &:before {
            content: '★';
        }
    }
}
