<Page [ngClass]="'progress'" [title]="'Progress'" [subTitle]="'进度条'" [ftBottom]="true">

    <weui-progress [weui-value]="res.g1.value" (weui-cancel)="onCancel('g1')"></weui-progress>
    <br>
    <weui-progress [weui-value]="res.g2.value" (weui-cancel)="onCancel('g2')"></weui-progress>
    <br>
    <weui-progress [weui-value]="res.g3.value" (weui-cancel)="onCancel('g3')" [weui-can-cancel]="false"></weui-progress>
    <br>

    <button weui-button [disabled]="uploading" (click)="onUpload()">上传</button>

</Page>
