@import '../../style/theme.less';
weui-dialog {
  .weui-mask,
  .weui-dialog {
    visibility: hidden;
    opacity: 0;
  }
  .weui-mask__in,
  .weui-dialog__in {
    visibility: visible;
    opacity: 1;
  }
  .weui-mask {
    transition-duration: 0.3s;
  }
  .weui-dialog {
    transform-origin: 0 0;
    transition-duration: 0.2s;
  }
  .weui-dialog__error {
    color: @dialog-error-color;
    font-size: @dialog-error-font-size;
  }
}
