<Page [ngClass]="'ptr'" [title]="'Pull To Refresh'" [subTitle]="'下拉刷新'" [spacing]="false">

    <div style="padding: 20px;">
        <button weui-button [weui-mini]="'mini'" (click)="disabled=!disabled">{{disabled ? '启用' : '禁止'}}</button>
    </div>

    <weui-ptr (refresh)="onRefresh($event)" [disabled]="disabled" style="height: 200px; background: rgb(255, 255, 255);">
        <div class="weui-cells__title">List with link</div>
        <div class="weui-cells">
            <a *ngFor="let i of items" class="weui-cell weui-cell_access" href="javascript:;">
                <div class="weui-cell__bd">{{i}}</div>
                <div class="weui-cell__ft"></div>
            </a>
        </div>
    </weui-ptr>
   
    <div class="weui-cells__title">自定义Loaders样式</div> 
    <weui-ptr (refresh)="onRefresh($event)" [config]="{customIcon:true}" style="height: 200px; background: rgb(255, 255, 255);">
        <div loader style="width:100%;">
            <div style="flex: 1 1 0%; padding: 5px;">
                <div class="weui-ptr__icon">
                    <img src="./assets/images/momentloader.png" width="40">
                </div>
            </div>
        </div>
        <div class="weui-cells__title">List with link</div>
        <div class="weui-cells">
            <a *ngFor="let i of items" class="weui-cell weui-cell_access" href="javascript:;">
                <div class="weui-cell__bd">{{i}}</div>
                <div class="weui-cell__ft"></div>
            </a>
        </div>
    </weui-ptr>

</Page>
