<div class="start">
    <div class="start-banner"><canvas class="start-banner-canvas" width="1255" height="492"></canvas>
        <div class="start-banner-inner">
            <div class="start-banner-inner__left">
                <div class="card">
                    <div class="card-inner"><span aria-hidden="true" class="fa fa-weixin fa-4x" style="font-size: 100px; color: rgb(255, 255, 255);"></span></div>
                    <div class="card-home"></div>
                </div>
                <div class="big-circle"></div>
                <div class="white-circle">
                    <div class="angolo"></div>
                </div>
                <div class="small-circle"></div>
            </div>
            <div class="start-banner-inner__text">
                <h2>Angular WeUI</h2>
                <p class="desc">Gorgeous WeUI Components rebuild in Angular</p>
                <div class="actions"><a routerLink="/example" class="weui-btn weui-btn_plain-primary">Demo</a><br></div>
            </div>
        </div>
    </div>
    <div class="start-box-features">
        <div class="start-box-features-inner">
            <div class="weui-flex">
                <div class="weui-flex__item"><a class="start-box-features-item color-green" href="#/docs/start"><span aria-hidden="true" class="fa fa-play-circle fa-4x"></span><p>Get Started</p></a></div>
                <div class="weui-flex__item"><a class="start-box-features-item color-blue" href="#/docs/components"><span aria-hidden="true" class="fa fa-th fa-4x"></span><p>Components</p></a></div>
                <div class="weui-flex__item"><a href="https://github.com/cipchk/ngx-weui" target="_blank" class="start-box-features-item color-og"><span aria-hidden="true" class="fa fa-github fa-4x"></span><p>Github</p></a></div>
            </div>
        </div>
    </div>
    <div class="start-box-footer">
        <div class="start-box-footer-inner">
            <div class="weui-footer">
                <p class="weui-footer__text">本主题来源于<a href="https://github.com/weui/react-weui" target="_blank">React-WeUI</a></p>
                <p class="weui-footer__text">Copyright © 2017 cipchk</p>
            </div>
        </div>
    </div>
</div>
