.App__preview {
  display: flex;
  flex: 5;
  width: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
  .App__preview {
    display: none;
  }
  .Resizer {
    display: none;
  }
  .Pane:first-of-type {
    display: none;
  }
}

.App__detail {
  height: 100%;
  border-left: 1px solid var(--weui-DIALOG-LINE-COLOR);
}

.App__mobileview {
  position: relative;
  width: 375px;
  height: 667px;
  overflow-x: hidden;
  overflow-y: scroll;
  background: rgba(255, 255, 255, 1);
  border-radius: 5px;
}

.App__mobileview::-webkit-scrollbar,
.App__mobileview .page::-webkit-scrollbar {
  display: none;
}

.Pane.vertical.Pane1 {
  height: 100%;
}

.App__preview--none {
  color: rgba(0, 0, 0, 0.25);
  font-size: 1.5em;
  text-align: center;
}

.App__preview--none .fa {
  margin: 10px auto;
  opacity: 0.3;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.weui-article {
  .docs-example-source {
    height: 600px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.05);
  }
}
