html,
body {
  overflow: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Helvetica Neue, Helvetica, Arial, PingFang SC,
    Microsoft YaHei UI, Microsoft YaHei, Source Han Sans CN, sans-serif;
  background-color: #f8f8f8;
}

[hidden] {
  display: none;
}

.App {
  display: flex;
  height: 100vh;
  min-height: 100vh;
}

@media (max-width: 1024px) {
  .App {
    flex-direction: column;
  }
}

.App__content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--weui-BG-2);
}

@keyframes App__logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* WEUI DEMO FIXED */

// .App__mobileview .weui-mask,
// .App__mobileview .weui-actionsheet,
// .App__mobileview .weui-dialog,
// .App__mobileview .weui-extra-area,
// .App__mobileview .weui-mask-transparent,
// .App__mobileview .weui-toast,
// .App__mobileview .weui-gallery,
// .App__mobileview .weui-popup,
// .App__mobileview .weui-toptips {
//     position: absolute !important;
// }

// .App__mobileview .weui-dialog {
//     width: 85% !important;
// }

.navmenu {
  margin-top: 40px;
  list-style: none;
  &__item {
    display: block;
    padding: 10px;
    color: rgba(113, 120, 120, 0.7);
    font-size: 1em;

    /* font-family: 'Open Sans', sans-serif; */
    text-align: center;
    p {
      font-size: 0.6em;
    }
    &:hover {
      color: rgba(113, 120, 120, 1);
    }
    &.active {
      color: rgba(88, 153, 288, 1);
    }
  }
}

.App__nav {
  position: relative;
  z-index: 5;
  display: flex;
  width: 375px;
  border-right: 1px solid var(--weui-DIALOG-LINE-COLOR);
  &.nomenu {
    width: 100px;
  }
}

.menuItems {
  padding-top: 16px;
  .weui-cell__ft {
    font-size: 14px;
  }
}

.mobileToggle {
  display: none;
}

.navMenu {
  flex: 1;
  max-width: 300px;
  height: 100%;
  overflow-y: scroll;
  background: var(--weui-BG-2);
}

.navMenu::-webkit-scrollbar {
  display: none;
}

.navMenu--icon {
  display: block;
  width: 20px;
  margin-right: 5px;
}

.navMenu .weui-search-bar {
  position: absolute !important;
  z-index: 50;
  background: var(--weui-BG-2);
  border: 1px solid var(--weui-DIALOG-LINE-COLOR);
}

.navMenu .weui-cells__title {
  margin-top: 45px;
}

.navMenu .weui-cell.active {
  background: var(--weui-BG-1);
}

.navSidebar {
  position: relative;
  flex: 1;
  max-width: 100px;

  /* height: 100%; */
  background: #eee;
}

.navmenu--bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.navSidebar--logo {
  width: 100%;
  text-align: center;

  img {
    width: 50px;
    margin: 10px auto;
  }

  &.loading {
    position: relative;
    opacity: 0.3;
    animation: App__logo-spin infinite 2s linear;
  }
}

.App__nav .weui-dialog__bd {
  padding-right: 0;
  padding-left: 0;
}

.background--nav {
  background: #47484f;

  /* Old browsers */
  background: linear-gradient(135deg, #47484f 0%, #313235 100%);

  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* api doc */

.docs-api {
  table,
  ul,
  ol,
  p,
  pre,
  dl,
  dd,
  dt {
    margin-top: 0;
    margin-bottom: 10px;
  }
  h1,
  h2 {
    padding-bottom: 0.3em;
    border-bottom: 1px solid #eee;
  }
  h1 {
    font-size: 1.8em;
  }
  h2 {
    padding-top: 1em;
    font-size: 1.6em;
  }
  h3 {
    padding-top: 1em;
    font-size: 1.3em;
    code {
      padding: 2px 6px;
      font-weight: 700;
    }
  }
  code {
    margin: 0;
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: 85%;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 3px;
  }
  table {
    width: 100%;
    overflow: auto;
    border-collapse: collapse;
    border-spacing: 0;
    tr {
      background-color: #fff;
      border-top: 1px solid #ccc;
    }
    td,
    th {
      padding: 6px 13px;
      border: 1px solid #ddd;
    }
    th {
      font-weight: 700;
    }
    td {
      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .method-name,
    .method-returns-header,
    .method-parameters {
      text-align: left;
    }
  }

  .class-selector-name {
    padding: 2px 6px;
  }

  ul {
    margin-left: 3em;
    list-style: decimal;
  }
}
