.start {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  &-banner {
    position: relative;
    width: 100%;
    height: 492px;
    overflow: hidden;
    color: #c3c9d8;
    font-size: 14px;
    line-height: 1.6;
    background-color: var(--weui-BG-0);

    &-canvas {
      position: absolute;
      bottom: 0;
      margin: 0;
      padding: 0;
      border: 0 solid black;
    }

    &-inner {
      position: relative;
      width: 1100px;
      margin: auto;

      &__left {
        position: relative;
        width: 700px;
        height: 100%;
        padding-top: 25px;
        transition: all 0.25s linear;
      }

      &__text {
        position: absolute;
        top: 0;
        z-index: 10;
        width: 400px;
        margin-top: 90px;
        padding-left: 640px;

        h2 {
          color: var(--weui-FG-0);
          font-weight: normal;
          font-size: 40px;
          letter-spacing: 2.5px;
        }

        p.desc {
          margin-top: 5px;
          color: var(--weui-FG-1);
          font-size: 16px;
          line-height: 26px;
        }

        .actions {
          width: 150px;
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
    }
    .card {
      position: relative;
      z-index: 1;
      width: 250px;
      height: 350px;
      margin: 0 auto;
      padding: 40px 30px;
      background: #fff;
      border-radius: 20px;
      box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.05);

      &-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 300px;
        background: #f3f3f3;
      }

      &-home {
        position: absolute;
        bottom: -15px;
        left: 50%;
        width: 50px;
        height: 50px;
        background: #f3f3f3;
        border-radius: 50%;
        transform: translate(-50%, -50%);
      }

      &-logo {
        position: relative;
        width: 150px;
        height: 150px;
        margin: auto;
      }
    }
  }

  &-box {
    &-announcement {
      width: 100%;
      height: 200px;

      p {
        width: 800px;
        margin: auto;
        padding: 50px;
        color: #262626;
        font-weight: normal;
        font-size: 20px;
        border-bottom: 1px solid #dedede;
      }
    }

    &-features {
      width: 100%;

      &-inner {
        width: 800px;
        margin: auto;
        //border-bottom: 1px solid #dedede;
        padding: 50px 0;
      }

      &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 220px;
        height: 220px;
        margin: auto;
        color: #fff;
        background: #f8f8f8;

        p {
          margin-top: 20px;
          color: #fff;
          font-size: 16px;
          line-height: 26px;
        }

        .fa {
          display: block;
        }

        &:hover {
          box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.15);
        }
      }
    }

    &-footer {
      width: 100%;
      padding: 50px 0;

      &-inner {
        width: 800px;
        margin: auto;
      }
    }
  }
}

@media (max-width: 1024px) {
  .start {
    overflow-x: hidden;
  }

  .start-banner {
    height: 350px;
  }
  .start-banner-inner,
  .start-banner-inner__text,
  .start-box-features-inner,
  .start-box-footer-inner {
    width: 100%;
  }
  .start-banner-inner__left {
    display: none;
  }

  .start-banner-inner__text {
    position: absolute;
    left: 50%;
    padding-left: 0;
    text-align: center;
    transform: translate(-50%, 0);

    .actions {
      margin: 20px auto;
    }
  }

  .start-box-announcement p {
    width: 80%;
  }

  .start-box-features-inner {
    .weui-flex {
      flex-direction: column;
    }

    .start-box-features-item {
      margin: 10px auto;
    }
  }
}

.card-button {
  position: absolute;
  top: 285px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 250px !important;
  height: 50px;
  margin: auto;
  text-align: center;
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.25s linear;
}

.big-circle {
  position: absolute;
  right: -175px;
  bottom: -550px;
  z-index: 2;
  width: 900px;
  height: 800px;
  background: rgba(41, 140, 235, 0.5);
  border-radius: 50%;
}

.white-circle {
  position: absolute;
  bottom: -713px;
  left: -350px;
  z-index: 3;
  width: 780px;
  height: 800px;
  overflow: hidden;
  background: rgba(8, 187, 7, 1);
  border-radius: 50%;
}

.angolo {
  float: right;
  width: 300px;
  height: 100px;
  margin-top: -92.5px;
  margin-right: -125px;
  padding: 40px 30px;
  background: rgba(172, 243, 172, 1);
  border-radius: 20px;
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.15);
}

.small-circle {
  position: absolute;
  top: 120px;
  left: 45px;
  z-index: 0;
  width: 130px;
  height: 130px;
  background: transparent;
  border: solid 80px rgba(255, 190, 0, 1);
  border-radius: 50%;
}

.color {
  &-green {
    background: rgba(8, 187, 7, 1);
  }

  &-blue {
    background: rgba(41, 140, 235, 1);
  }

  &-og {
    background: rgba(255, 190, 0, 1);
  }
}
