<Page [ngClass]="'flex'" [title]="'Flex'" [subTitle]="'Flex布局'" [ftBottom]="true">

    <div class="weui-flex">
        <div class="weui-flex__item">
            <div class="placeholder">weui</div>
        </div>
    </div>
    <div class="weui-flex">
        <div class="weui-flex__item">
            <div class="placeholder">weui</div>
        </div>
        <div class="weui-flex__item">
            <div class="placeholder">weui</div>
        </div>
    </div>
    <div class="weui-flex">
        <div class="weui-flex__item">
            <div class="placeholder">weui</div>
        </div>
        <div class="weui-flex__item">
            <div class="placeholder">weui</div>
        </div>
        <div class="weui-flex__item">
            <div class="placeholder">weui</div>
        </div>
    </div>
    <div class="weui-flex">
        <div class="weui-flex__item">
            <div class="placeholder">weui</div>
        </div>
        <div class="weui-flex__item">
            <div class="placeholder">weui</div>
        </div>
        <div class="weui-flex__item">
            <div class="placeholder">weui</div>
        </div>
        <div class="weui-flex__item">
            <div class="placeholder">weui</div>
        </div>
    </div>
    <div class="weui-flex">
        <div>
            <div class="placeholder">weui</div>
        </div>
        <div class="weui-flex__item">
            <div class="placeholder">weui</div>
        </div>
        <div>
            <div class="placeholder">weui</div>
        </div>
    </div>

</Page>
