weui-ptr {
  display: block;
  overflow: hidden;
  .weui-icon-download {
    color: #999;
  }
}

.weui-ptr {
  overflow: hidden;
  &__loader {
    pointer-events: none;
    font-weight: 700;
    text-align: center;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    align-content: stretch;
  }
  &__content {
    height: 100%;
    overflow: scroll;
  }
}
