.weui-accordion-panel {
    margin: 10px 0;
    background-color: #fff;
    overflow: hidden;
    border-radius: 2px;
    .heading {
        padding: 20px;
        cursor: pointer;
    }
    .weui-cells {
        margin-top: 0;
    }
    .weui-accordion-content {
        transition: max-height .5s ease-in;
    }
}

.weui-accordion-active {
    .weui-accordion-content {
        max-height: 100px;
    }
}
