<Page [ngClass]="'button'"
      [title]="'Button'"
      [subTitle]="'按钮'">
    
    <button weui-button>页面主操作 Normal</button>
    <button weui-button weui-loading (click)="loading=!loading">页面主操作 Loading</button>
    <button weui-button disabled (click)="disabled=!disabled">页面主操作 Disabled</button>
    <button weui-button [weui-type]="'default'">页面次操作 Normal</button>
    <button weui-button [weui-type]="'default'" [weui-loading]="loading" (click)="loading=!loading">页面次操作 Loading</button>
    <button weui-button [weui-type]="'default'" [disabled]="disabled" (click)="disabled=!disabled">页面次操作 Disabled</button>
    <button weui-button [weui-type]="'warn'">页面次操作 Normal</button>
    <button weui-button [weui-type]="'warn'" [weui-loading]="loading" (click)="loading=!loading">页面次操作 Loading</button>
    <button weui-button [weui-type]="'warn'" [disabled]="disabled" (click)="disabled=!disabled">页面次操作 Disabled</button>

    <div class="button-sp-area">
        
        <button weui-button [weui-plain]="true" [weui-type]="'default'">按钮</button>
        <button weui-button [weui-plain]="true" [weui-type]="'default'" [disabled]="disabled" (click)="disabled=!disabled">按钮</button>
        <button weui-button [weui-plain]="true">按钮</button>
        <button weui-button [weui-plain]="true" [disabled]="disabled" (click)="disabled=!disabled">按钮</button>

        <button weui-button [weui-mini]="'mini'" (click)="mini=!mini">按钮</button>
        <button weui-button [weui-mini]="'mini'" (click)="mini=!mini" [weui-type]="'default'">按钮</button>
        <button weui-button [weui-mini]="'mini'" (click)="mini=!mini" [weui-type]="'warn'">按钮</button>
        <button weui-button weui-mini="mini" (click)="mini=!mini" [weui-type]="'warn'" [weui-loading]="loading">按钮</button>

    </div>

</Page>
