<Page [ngClass]="'chart-g2'"
      [title]="'Chart-G2'"
      [subTitle]="'阿里G2-mobile图表'"
      [spacing]="false">

    <p class="weui-cells__title">快速上手</p>
    <canvas style="width:100%;height:200px;"
        weui-chart-g2 #c1="chart-g2"></canvas>

    <p class="weui-cells__title">平滑折线图</p>
    <canvas style="width:100%;height:200px;"
        weui-chart-g2 #c2="chart-g2"></canvas>

    <p class="weui-cells__title">仪表盘</p>
    <canvas style="width:100%;height:200px;"
        weui-chart-g2 #c3="chart-g2"></canvas>

</Page>
