<Page [ngClass]="'footer'" [title]="'Footer'" [subTitle]="'页脚'" [ftBottom]="true">

    <div class="weui-footer">
        <p class="weui-footer__text">Copyright © 2008-{{year}} weui.io</p>
    </div>
    <br>
    <br>
    <div class="weui-footer">
        <p class="weui-footer__links">
            <a href="javascript:void(0);" class="weui-footer__link">底部链接</a>
        </p>
        <p class="weui-footer__text">Copyright © 2008-{{year}} weui.io</p>
    </div>
    <br>
    <br>
    <div class="weui-footer">
        <p class="weui-footer__links">
            <a href="javascript:void(0);" class="weui-footer__link">底部链接</a>
            <a href="javascript:void(0);" class="weui-footer__link">底部链接</a>
        </p>
        <p class="weui-footer__text">Copyright © 2008-{{year}} weui.io</p>
    </div>

    <div footer class="weui-footer">
        <p class="weui-footer__text">Copyright © 2008-{{year}} weui.io</p>
    </div>
</Page>
