<weui-navbar>
    <weui-tab heading="Nav1">
        <article class="weui-article">
            <h1>Panel 1 Title</h1>
        </article>
    </weui-tab>
    <weui-tab heading="Nav2" (select)="onSelect()">
        <article class="weui-article">
            <h1>Panel 2 Title</h1>
            <p>Select Time: {{time}}</p>
        </article>
    </weui-tab>
    <weui-tab heading="Nav3">
        <article class="weui-article">
            <h1>Panel 3 Title</h1>
        </article>
    </weui-tab>
</weui-navbar>
