<weui-infiniteloader (loadmore)="onLoadMore($event)" #comp>
    <Page [ngClass]="'infiniteloader'" [title]="'Infinite Loader'" [subTitle]="'滚动加载'" [spacing]="false" [noBottom]="true">

        <div class="weui-cells__title">List with 50 Max</div>
        <div class="weui-cells">
            <a *ngFor="let i of items" class="weui-cell weui-cell_access" href="javascript:;">
                <div class="weui-cell__bd">{{i}}</div>
                <div class="weui-cell__ft"></div>
            </a>
        </div>
        
        <weui-button *ngIf="restartBtn" (click)="restart()">重新开始</weui-button>
    </Page>
</weui-infiniteloader>
