.weui-mask {
    opacity: 0;
    visibility: hidden;
    transition-duration: .3s;
}

.weui-mask__visible {
    opacity: 1;
    visibility: visible;
}

.weui-mask__content {
    position: fixed;
    z-index: 1001;
    height: 100%;
    width: 100%;
    display: flex;

    .weui-loading {
        margin: 0;
    }
}

.weui-mask__top {
    justify-content: center;
    align-items: flex-start;
}

.weui-mask__bottom {
    justify-content: center;
    align-items: flex-end;
}

.weui-mask__vertical-left {
    justify-content: flex-start;
    align-items: center;
}

.weui-mask__vertical {
    justify-content: center;
    align-items: center;
}

.weui-mask__vertical-right {
    justify-content: flex-end;
    align-items: center;
}
