weui-stepper {
    display: flex;
    align-items: center;
    justify-content: center;
    >span {
        border: 1px solid #ddd;
        border-radius: 5px;
        height: 30px;
        line-height: 30px;
        width: 30px;
        text-align: center;
        em {
            font-size: 20px;
        }
    }
    >.input {
        display: inline-block;
        height: 30px;
        width: 60px;
    }
    input {
        border: none;
        width: 100%;
        display: inline-block;
        color: #000;
        text-align: center;
        vertical-align: middle;
        font-size: 16px;
        &[disabled] {
            opacity: 1;
            color: #000;
            background: none;
        }
        &:focus {
            outline: none;
        }
    }
    .disabled,
    input[disabled] {
        opacity: .3;
    }
}
