// dialog
$dialog-error-font-size: 14px !default;
$dialog-error-color: #f50 !default;
// pagination
$pagination-dot-wh: 8px !default;
$pagination-dot-bg: #ccc !default;
$pagination-dot-active-bg: #888 !default;
// popup
$popup-bg: #efeff4 !default;
$popup-head-bg: #fbf9fe !default;
$popup-head-padding: 10px 15px !default;
$popup-head-border-bottom-color: #e5e5e5 !default;
$popup-head-color: #e5e5e5 !default;
$popup-head-action-color: #586c94 !default;
// stepper
$stepper-wh: 30px !default;
$stepper-input-width: 60px !default;
$stepper-color: rgb(134, 134, 134) !default;
$stepper-font-size: 20px !default;
// toptips
$toptips-bg-default: #B2B2B2 !default;
$toptips-bg-info: #586C94 !default;
$toptips-bg-primary: #1AAD19 !default;
