.weui-popup {
  position: fixed;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  backface-visibility: hidden;
  z-index: 5000;
  width: 100%;
  background-color: @popup-bg;
  transition: transform 0.3s;
  &_full {
    height: 100vh;
    overflow: scroll;
  }
  &_toggle {
    transform: translate(0);
  }
  &__hd {
    display: flex;
    padding: @popup-head-padding;
    background-color: @popup-head-bg;
    position: relative;
    text-align: center;
    &:after {
      content: ' ';
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      height: 1px;
      border-bottom: 1px solid @popup-head-border-bottom-color;
      color: @popup-head-color;
      transform-origin: 0 100%;
      transform: scaleY(0.5);
    }
  }
  &__action {
    display: block;
    flex: 1;
    color: @popup-head-action-color;
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
  }
}
