<h3 id="{$ class.name $}">
  <code>{$ class.name $}</code>
</h3>
{%- if class.description -%}
<p>
    {$ class.description $}
</p>
{%- endif -%}

{%- if class.isConfig -%}
<p>
    可用于[<a href="https://github.com/cipchk/ngx-weui/blob/master/docs/config.md" target="_blank">全局配置</a>]。
</p>
{%- endif -%}

{%- if class.directiveSelectors -%}
<div class="directive-selectors">
  <span class="class-selector-label">selector:</span>
  {% for s in class.directiveSelectors %}
    <span class="class-selector-name">{$ s $}</span>
  {% endfor %}
</div>
{%- endif -%}

{%- if class.directiveExportAs -%}
<span class="class-export-label">Exported as:</span>
<span class="class-export-name">{$ class.directiveExportAs $}</span>
{%- endif -%}

{%- if class.isDeprecated -%}
<div class="class-deprecated-marker">Deprecated</div>
{%- endif -%}

{$ propertyList(class.properties) $}

{$ methodList(class.methods) $}
