@import '../components/index';

@font-face {
    font-family: 'iconfont';
    /* project id 403086 */
    src: url('//at.alicdn.com/t/font_403086_9vgi8ei22pflmcxr.eot');
    src: url('//at.alicdn.com/t/font_403086_9vgi8ei22pflmcxr.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_403086_9vgi8ei22pflmcxr.woff') format('woff'), url('//at.alicdn.com/t/font_403086_9vgi8ei22pflmcxr.ttf') format('truetype'), url('//at.alicdn.com/t/font_403086_9vgi8ei22pflmcxr.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-left:before {
    content: "\e628";
}

.icon-right:before {
    content: "\e642";
}

@import './styles/layout.scss';
@import './styles/article.scss';
@import './styles/start.scss';
@import './styles/solarized-light.scss';
@import './styles/doc-viewer.scss';
@import './styles/example-home.scss';
