html,
body {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

body,
.page {
  background-color: #f8f8f8;
}

.link {
  color: #1aad19;
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1; // fix 滑动几次后可滚动区域会卡住的问题
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.page__hd {
  padding: 40px;
}

.page__bd {
}

.page__bd_spacing {
  padding: 0 15px;
}

.page__ft {
  padding-top: 40px;
  padding-bottom: 10px;
  text-align: center;
  img {
    height: 19px;
  }
  &.j_bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.page__title {
  font-weight: 400;
  font-size: 20px;
  text-align: left;
}

.page__desc {
  margin-top: 5px;
  color: #888;
  font-size: 14px;
  text-align: left;
}

.page-enter {
  z-index: 1024;
  transform: translate3d(100%, 0, 0);
  opacity: 0.01;
  transition: all 0.2s ease;
  &.page-enter-active {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.page-leave {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  transition: all 0.2s ease;
  &.page-leave-active {
    transform: translate3d(100%, 0, 0);
    opacity: 0.01;
  }
}

.page.article,
.page.loadmore,
.page.actionsheet,
.page.dialog,
.page.msg_warn,
.page.msg_success,
.page.msg,
.page.toast,
.page.toptips,
.page.popup {
  background-color: #fff;
}

.page.infinite {
  position: relative;
}

.page.flex {
  .placeholder {
    height: 2.3em;
    margin: 5px;
    color: #cfcfcf;
    line-height: 2.3em;
    text-align: center;
    background-color: #ebebeb;
  }
}

.page.icons {
  text-align: center;
  .page__bd {
    padding: 0 40px;
    text-align: left;
  }
  .icon-box {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    i {
      margin-right: 18px;
    }
  }
  .icon-box__ctn {
    flex-shrink: 100;
  }
  .icon-box__title {
    font-weight: normal;
  }
  .icon-box__desc {
    margin-top: 6px;
    color: #888;
    font-size: 12px;
  }
  .icon_sp_area {
    margin-top: 10px;
    text-align: left;
    i::before {
      margin-bottom: 5px;
    }
  }
}
