<Page [ngClass]="'slider'" [title]="'Slider'" [subTitle]="'滑块'" [ftBottom]="true">
  <p>res1: {{ res1 }}</p>
  <weui-slider [(ngModel)]="res1" name="res1" weui-show-value="false"></weui-slider>
  <br />
  <weui-slider
    [(ngModel)]="res2"
    name="res2"
    weui-min="0"
    weui-max="20"
    weui-step="2"
    [weui-enabled]="switchState"
    (weui-change)="onChange($event)"
  >
  </weui-slider>

  <div class="weui-btn-area">
    <button weui-button (click)="switchState = !switchState">
      {{ switchState ? '禁用' : '启用' }}
    </button>
  </div>
</Page>
